.main{
    border: 2px solid grey;
    width: 15%;
    margin: 0px auto;

}
.input{
    background-color:#ECF0F1;
    width: 98%;
    margin: 2px;

}
.clear{
    width: 98%;
    margin-top: 1px;
    margin-left: 2px;
     border-color: #F2F3F4;
}
.btna{
    width: 49px;
    margin-top: 5px;
    margin-left: 2px;
    border-color: #F2F3F4;
       
}
.lastbtn{
    width: 47%;
    margin-top: 5px;
    margin-left: 2px;
    margin-bottom: 2px;
    border-color: #F2F3F4;
}